.drop__aria {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  padding: 23px;
  color: rgba(0, 32, 51, 0.6);
  position: relative;
  border: 2px dashed rgba(0, 32, 51, 0.6);
  border-radius: 8px;
  transition: 0.2s;

  .text {
    margin-top: 12px;
  }

  .allowed__files {
    margin-top: 4px;
    color: rgba(0, 32, 51, 0.3);
  }
}
